body {
    background-color: #232323;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    color: white;
    line-height: 1.1;
    text-align: center;
    background-color: rgb(165, 120, 231);
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 25%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 1.0s;
    -webkit-transition: background 1.0s;
    -moz-transition: background 1.0s;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

.selected {
    background: rgb(165, 120, 231);
    color: white;
}

#colorDisplay {
    font-size: 200%;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: rgb(165, 120, 231);
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

button:hover {
    color: white;
    background: rgb(165, 120, 231);
}

#message {
    display: inline-block;
    width: 20%;
}